{% extends 'base.html' %}

{% block content %}
<h2>Alle Søknader</h2>

{% if soeknader %}
    <table>
        <tr>
            <th>Søknadsnummer</th>
            <th>Barnehage Navn</th>
            <th>Navn</th>
            <th>Status</th>
        </tr>
        {% for søknad in soeknader %}
        <tr>
            <td>{{ søknad['søknadsnummer'] }}</td>
            <td>{{ søknad['barnehage_navn'] }}</td>
            <td>{{ søknad['navn'] }}</td>
            <td>{{ søknad['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Ingen søknader funnet.</p>
{% endif %}
{% endblock %}
