{% extends 'base.html' %}

{% block content %}
<h2>Resultat av Søknad</h2>

{% if data %}
    <table>
        <tr>
            <th>Søknadsnummer</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Status</th>
        </tr>
        {% for søknad in data %}
        <tr>
            <td>{{ søknad['søknadsnummer'] }}</td>
            <td>{{ søknad['navn'] }}</td>
            <td>{{ søknad['adresse'] }}</td>
            <td>{{ søknad['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Ingen søknader funnet.</p>
{% endif %}
{% endblock %}
